services:
  web:
    build: .
    image: flask-app:latest
    container_name: flask_app
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - TZ=America/Sao_Paulo
      - FLASK_ENV=development  


  process:
    build: .
    image: python-script:latest
    container_name: python_script
    command: python3 process_data.py
    volumes:
      - .:/app
    environment:
      - TZ=America/Sao_Paulo
    depends_on:
      - web
